

<%= form_for @artist , html: { multipart: true } do |f| %>


   <% if @artist.errors.any? %>
     <h2>Errors</h2>
      <ul>
  <% @artist.errors.full_messages.each do |message|%>
      <li><%= message %></li>
  <% end %>
     </ul>
  <% end %>



<%= f.label :name %> <br />
<%= f.text_field :name %> <br /> <br />

<%= f.label :image_url %> </br >
<%= f.text_field :image_url %> </br ></br >



<%= f.submit (@artist.new_record? ? "Create" : "Update") %>


<% end %>
