
<p id="notice"><%= notice %></p>
<%= link_to "Edit your favorite artist.", edit_artist_path(@artist) %> <br/>

<h1>Singer/ Artist: <%= @artist.name %></h1>
 <%= image_tag @artist.image_url %>

<h4>List of artists Songs</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
    <ul>
      <li>Song title: <%= song.title %></li>
      <li>Song genre: <%= song.genre %></li>
          <%= link_to "[Delete Song]", artist_song_path(@artist, song), method: :delete, data: { confirm: "Are you sure?" } %>
    </ul>
      <br />
    <% end %>

  </ul>
<% else %>
  <p>This artist has no songs yet.</p>
<% end %>
<br />
<br />

<p><h2>Add a new song</h2><%#= render 'songs/form' %></p>

<%= form_for([@artist, Song.new]) do |form| %>


  <p><%= form.label :title %></p>
  <p><%= form.text_field :title %></p>

  <p><%= form.label :genre, 'Genre' %></p>
  <p><%= form.text_field :genre %></p>

  <%= form.submit 'Save' %>
<% end %>



<%#= link_to 'View artists', artists_path %>

  <%#= link_to "Edit", edit_artist_path(@artist.id) %>

  <br />
  <br />

  <%= link_to "Delete", artist_path(@artist), method: :delete, data: { confirm: "Are you sure?" } %>
