<%= form_for :song do |f| %>
<% if @song.errors.any? %>
  <h2>Errors</h2>
   <ul>
<% @song.errors.full_messages.each do |message|%>
   <li><%= message %></li>
<% end %>
  </ul>
<% end %>

<%= f.label :title %> <br />
<%= f.text_field :title %> <br />

<%= f.label :genre %> <br />
<%= f.text_field :genre %> <br /><br />

<%= f.submit 'Save' %>

<% end %>
