<%= link_to 'Add Song', new_song_path %>
<%#= link_to 'View Artists', artist_path %>

<% @songs.each do |song| %>
<p>
    Name: <%= song.title %> <br />
    <%= link_to 'Artist',  artist_path(artist) %> <!--connect this to artists. -->
    <br />

    Genre: <%= song.genre %>
 </p>
<% end %>

<%= link_to 'View artists', artists_path %>
