
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Codaisseurify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, inital-scale=1">
  </head>

  <body>

    <div class="container">
      <%= yield %>
    </div>

  <br><br>
  <hr>

  <%= link_to "See all artists", root_path, class: "btn btn-default" %>
<%= link_to 'Add Artist', new_artist_path, class: "btn btn-default" %>


  </body>
</html>
