
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Codaisseurify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
     <%= javascript_include_tag 'application' %>
 <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>
  </head>

  <body>

    <div class="container">
      <%= yield %>
    </div>

  <br><br>
  <hr>

  <%= link_to "See all artists", root_path, class: "btn btn-default" %>
<%= link_to 'Add Artist', new_artist_path, class: "btn btn-default" %>


  </body>
</html>
